* {
    margin: 0 auto;
    box-sizing: border-box;

    position: relative;
}

html {
    text-align: center;
    font-size: 20px;
}

header {
    text-align: left;
    position: absolute;
    width: 100%;
    background-color: hsla(204, 100%, 50%, .5);
    height: 200px;
}

.nav {
    top: 0px;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: hsla(204, 100%, 50%, 1);
    border-bottom: 2px solid black;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav li {
    color: white;
    display: inline;
}

header h1,
header h3 {
    left: 20%;
    display: block;
    top: 80px;
}


main {
    display: grid;
    /*top: 150px;*/
    position: relative;
    margin: 10px;
}

section {
    display: flex;
    width: 80%;
    margin-top: 30px;
    flex-direction: column;
}

.about-me {
    background-color: hsla(204, 100%, 50%, 1);
    position: relative;
    top: 30px;
    left: 20%;
    padding: 40px 20px;
    width: 40%;
    height: auto;
    border-radius: 20px;
}

.projects {
    width: 50%;
    border-radius: 20px;
    background-color: hsla(204, 100%, 50%, .25);
    display: flex;

    text-align: center;

    justify-content: flex-start;
    height: auto;
    padding: 20px 0px;
    margin-bottom: 30px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
}

.projects h2 {
    display: block;
    width: 100%;
    justify-self: center;


}

.projects article {
    flex-shrink: 2;
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    width: max-content;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: hsla(204, 100%, 50%, 1);
    border-radius: 10px;
    transition: all ease-in .3s;
}

.projects h3 {
    top: 0px;
    margin: 5px 5px 0px 5px;
    background-color: black;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.projects h4 {
    margin: 0px 5px 10px 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
}

.projects img {
    height: auto;
    width: 400px;
    border-radius: 15px;
}

.experience {
    background-color: hsla(204, 100%, 50%, .25);
    padding: 40px 20px;
    width: 90%;
    border-radius: 20px;
}

.certificates-and-awards {
    background-color: hsla(204, 100%, 50%, 1);
    padding: 40px 20px;
    width: 90%;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.certificates {
    display: flexbox;
    flex-direction: row;
}

.awards {
    display: flexbox;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;

}

.certificates-and-awards article {
    width: 25%;
    height: auto;
    overflow: visible;
    margin: 20px auto;
    orientation: landscape;
}

.certificates-and-awards object {
    orientation: r;
}

footer {
    width: 100%;
    background-color: black;
}

.contact-info {
    color: white;
    padding: 50px;
}

.contact-info h2 {
    font-size: 2rem;
    margin-bottom: 30px
}