/* 
COLORS
#614CC2 gray blue
#5F548F gray purp
#532FF5 blue
#4C495C gray
#2F2D38 Dark grey
*/



* {
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

@media only screen and (min-width: 400px) {
    .projects article {
        width: 80%;
    }

    .title {
        display: block;
    }

    .about-me {
        width: 80%;
    }

    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 500px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 700px) {


    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 800px) {

    header {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .about-me {
        width: 50%;

    }


    .projects article {
        width: 40%;
    }

    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 900px) {
    html {
        font-size: 17px;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1100px) {
    html {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

html {
    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

main section {
    width: 100%;
    height: max-content;
    padding: 40px;
}

body {
    width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

header {
    height: 100vh;
    width: 100%;
    background-color: #5F548F;
    align-items: center;
}


.title h4 {
    top: 30%;
    color: #2F2D38;
}

.title h1 {
    top: 30%;
}

.title {
    display: flexbox;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    text-align: center;
    height: 50%;
}

.about-me {
    height: fit-content;
    background-color: #4C495C;
    padding: 20px;
    border-radius: 20px;
}

.about-me span {
   color: #614CC2;
}
.nav {
    top: 0px;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #2F2D38;
    border-bottom: 2px solid #614CC2;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav li {
    color: white;
    display: inline;
}


main {
    display: grid;
    position: relative;
}



.projects {
    background-color: #4C495C;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.projects h2 {
    display: block;
    width: 100%;
    justify-self: center;


}

.projects article {
    flex-shrink: 3;
    display: flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all ease-in .3s;
}

.projects h3 {
    top: 0px;
    margin: 5px 5px 0px 5px;
    background-color: black;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.projects p {
    margin: 0px 5px 10px 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    padding: 5px;
}

.projects img {
    height: auto;
    width: 50%;
    min-width: 50px;
    border-radius: 15px;
}

.experience {
    background-color: #5F548F;
}

#resume {
    position: relative;
    width: 80%;
    height: 800px;
    padding: 20px;

}

#resume object {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.certificates-and-awards {
    background-color: #4C495C;
    ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.certificates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.awards {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.certificates-and-awards article {
    width: 400px;
    height: auto;
    margin: 20px auto;
    margin: 5px;
}

.awards img {
    width: 100%;
}

footer {
    width: 100%;
    background-color: #2F2D38;
}

.contact-info {
    padding: 50px;
}

.contact-info p {
    color: white;
}

.contact-info h2 {
    font-size: 2rem;
    margin-bottom: 30px
}