/* 
COLORS
#614CC2 gray blue
#5F548F gray purp
#532FF5 blue
#4C495C gray
#2F2D38 Dark grey
*/



* {
    
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}


@media only screen and (min-width: 300px) {
    .nav a {
        font-size: 2vw;
    }

    .about-me {
        top: 75px
    }

    .projects article {
        width: 270px;
        height: 270px;
    }

    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 400px) {
    .certificates-and-awards article {
        width: 200px;

    }


    .projects article {
        width: 300px;
        height: 300px;
    }

    .title {
        display: block;
        
    }

    .about-me {
        width: 80%;

    }

    html {
        font-size: 13px;

    }

    .experience ul {
        width: 80%;
    }
}

@media only screen and (min-width: 500px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 700px) {


    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 800px) {

    .nav a {
        font-size: 1.5vw;
    }


    .projects article {
        width: 400px;
        height: 400px;
    }

    html {
        font-size: 17px;
    }

    .experience ul {
        width: 70%;
    }
}

@media only screen and (min-width: 900px) {
    html {
        font-size: 17px;
    }

    .certificates-and-awards article {
        width: 300px;

    }

}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1100px) {

    .projects article {
        width: 500px;
        height: 500px;
    }

    html {
        font-size: 19px;
    }

    .experience ul {
        width: 60%;
    }

    .about-me {
        width: 50%;

    }


}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }

    .certificates-and-awards article {
        width: 400px;
    }
}

#back {
    left: 0px;
    position: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    
}

html {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
}

main section {
    width: 100%;
    height: auto;
    padding: 40px;
    
}

body {
    width: 100%;
}



main {
    width: 100%;
}

h1 {

    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-size: 2rem;
    font-style: italic ;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
}

h6 {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

p {
    text-indent: 25px;
    font-size: 1rem;
    text-shadow: 1px 1px 2px black;
    text-align: left;
}

header {
    height: 100vh;
    width: 100%;
    background-color: #5f548fd3;
    align-items: center;
}


.title h4 {
    top: 30%;
    color: #2F2D38;
}

.title h1 {
    top: 30%;
    text-shadow: 1px 1px 2px black;
}

#title1, #title2 {
    opacity: 0;
}
.title {
    max-width: 80%;
    padding-top: 20px;
    display: flexbox;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    text-align: center;
    height: 40%;
}

.about-me {
    max-width: 80%;
    flex: 1;
    height: auto;
    margin: 0 auto;
    background-color: #4C495C;
    padding: 20px;
    border-radius: 20px;
    
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);

}

.about-me span {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav {
    
    display: flex;
    top: 0px;
    padding: 10px 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #2F2D38;
    border-bottom: 2px solid #614CC2;
    justify-content: space-around;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

nav li {
    color: white;
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    
}

nav a:hover {
    color: #614CC2;
    transition: 0.5s;
}




.projects {
    border-top: 3px solid #4c495c;
    background-color: #4c495c;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.projects h2 {
    display: block;
    width: 100%;
    justify-self: center;
   
}

.projects article {
    border-radius: 30px;
    margin: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
}

.project-article-text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    visibility: hidden;
    border-radius: 29px;
    padding: 5px;
}

.project-article-text h5 {
border-bottom: 3px solid white;
}

.projects img {
    width: 100%;
    height: auto;
}

.projects p {
    margin: 20px;
}

.projects a {
    margin: 0px;
    left: 25%;
    width: 50%;
    position: absolute;
    top: 80%;
    display: block;
    background-color: #614CC2;
    color: white;
    padding: 2px 20px;
    border-radius: 10px;
    text-align: center;
}

.projects a:hover {
    background-color: #4C495C;
    transition: 1s;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-color: #5f548fd3;
    margin: 0 auto;

}

.experience ul {
    gap: 40px;
    text-align: left;
    line-height: 30px;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
}

.experience li {
    margin-bottom: 20px;
    color: #2F2D38;
    background-color: white;
    padding: 10px;
    list-style-type: none;
    border-bottom: 3px solid #4C495C;
}

.experience span {
    color: #614CC2;
    font-size: 1.5rem;
}

.certificates-and-awards {
    background-color: #4C495C;
    ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.certificates {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.awards {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.certificates-and-awards article {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    margin: 10px;
}

.certificates-and-awards img {
    width: 100%;
}


footer {
    width: 100%;
    background-color: #2F2D38;
}

.contact-info {
    padding: 50px;
}

.contact-info p {
    color: white;
}

.contact-info h2 {
    width: 50%;
    
    margin-bottom: 60px;
}

#tetris {
    background-image: url("tetrisIMG.png");
    background-size: cover;
}

#film-finder {
    background-image: url("filmFinder.png");
    background-size: cover;
    background-position: center;
}

#calculator {
    background-image: url("calculator.png");
    background-size: cover;
    background-position: center;
}

#xmpp {
    background-image: url("XMPP.png");
    background-size: cover;
    background-position: center;
}

#tea-shop {
    background-image: url("teaShop.png");
    background-size: cover;
    background-position: center;
}