* {
  font-family: 'Press Start 2P', cursive;
  font-size: 1vw;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}


@media only screen and (min-width: 300px){
.arrow-container {
  display: none;
}
.grid {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#canvas {
  width: 60%;
  height: auto;
}
}
@media only screen and (min-width: 1000px){
  .arrow-container {
    display: block;
  }
  .grid {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #canvas {
    width: 60%;
    height: auto;
  }
  
.right-column {
  flex-direction: column;
  height: auto;
  width: 20%;
  justify-content: space-around;
}
}
body {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: hsl(211, 48%, 50%);
}

.grid {
  height: 100vh;
  width: auto;
  background-size: cover;
  padding: 30px;
  margin: 0 auto;
  justify-self: center;
  display: flex;
  
}

.stats {
  flex: 1;
  width: min-content;
  height: auto;
  text-align: center;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid black;
}

.right-column {
  justify-content: center;
  align-content: center;
  display: flex;
}



.game-board {
  border: solid 2px;

}

#play-button {
  margin: 0;
  background-color: #4caf50;
  font-size: 2vw;
  padding: 5px 10px;
  cursor: pointer;
}


#canvas {
  margin: 20px;
  border: 2px solid black;
  background-color: grey;
  border: solid 2px;
 
}

#game-over {
  top: 30%;
  margin: 0 auto;
  color: white;
  position: fixed;
  width: 303px;
  padding: 50px 0px;
  z-index: 1;
  background-color: black;
  text-align: center;
}

button {
  width: fit-content;
  height: fit-content;
  padding: 0px;

}

i {
  margin: 0px;
  padding: 0px;
  font-size: 4vh;
}

